!!! 5
%html
  %head
    %title DNS-Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = nav_bar fixed: 'static' do
      = menu_group do
        = menu_item _("Home"), root_path

    .container-fluid
      = bootstrap_flash
      = yield
