!!! 5
%html
  %head
    %title DNS-Admin
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = nav_bar fixed: 'static' do
      = menu_group do
        = menu_item _('Home'), root_path
        - if can?(:index, PowerDns::Domain)
          = menu_item _('Domains'), domains_path
        - if can?(:index, PowerDns::Record)
          = menu_item _('Records'), records_path
        - if can?(:index, :token)
          = menu_item _('Tokens'), '#'
      = menu_group pull: :right do
        - if can?(:toggle, :admin)
          - if session[:adminview]
            = menu_item _('disable admin view'), toggle_admin_path, class: 'btn btn-success'
          - else
            = menu_item _('enable admin view'), toggle_admin_path, class: 'btn btn-danger'
        = render 'devise/shared/login_items'

    .container-fluid
      = bootstrap_flash
      = yield
